#submit{
    
    margin-left:170px
}
h1{
    padding-top:25px;
    padding-bottom: 25px;

}
form {
    width: 80%;
    margin: 0 auto;
    float:left;
  }
  
 
  
  label {
    width: 30%;
    
    text-align: right;
  }

  